/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #fff;
	font-family: 'Montserrat', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
p {
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1440px;
	width: 85vw;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/** header **/
.head-wrap {
	position: fixed;
	width: 100%;
}
.alert_wrap {
	width: 100%;
	height: 69px;
}
.p-alert_header {
	position: relative;
	width: 20%;
	padding: 0 1rem;
	background: #6D6D6D;
}
.p-alert_header p {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	font-size: 14px;
	padding-left: 25px;
}
.p-alert_header p::after{
	content: '';
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 3px;
	left: 0px;
	background-image: url(../img/icon-alert.svg);
}
.p-alert_body {
	width: 80%;
	background: #F4F6F9;
}
.p-alert_body p {
	position: relative;
	top: 50%;
	left: 40px;
	transform: translate(0, -50%);
	font-size: 12px;
	display: inline-block;
	padding-left: 15px;
	color: #1B1919;
}
.p-alert_body p::after{
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 7px;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	background-image: url(../img/alert-arrow.svg);
}

.top-header {
	width: 100%;
	height: 79px;
	background: #fff;
	transition: all .2s;
}
.in {
	width: 100%;
	height: 100%;
	padding: 0 0 0 36px;
	position: relative;
}
.head-logo {
	position: absolute;
	width: 216px;
	top: 50%;
	left: 36px;
	transform: translate(0, -50%);
	transition: all .2s;
}
.head-logo img {
	width: 100%;
}
nav {
	height: 100%;
	transition: all .5s;
	padding-right: 95px;
}
nav ul {
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
nav ul li {
	height: 100%;
	padding: 0 12px;
}
nav ul li a {
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0.2rem;
	font-weight: 600;
	padding: 32px 0;
	height: 100%;
	color: #1B1919;
	transition: all .5s;
}
nav ul li.sub a {
	display: inline-block;
	position: relative;
	font-size: 10px;
	letter-spacing: 0.2rem;
	font-weight: 600;
	padding: 32px 0 0 24px;
	height: 100%;
	color: #1B1919;
	transition: all .5s;
}
nav ul li.access a::after {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	background-image: url(../img/icon-access.svg);
}
nav ul li.lang a::after {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	background-image: url(../img/icon-lang.svg);
}
.toggle {
	position: fixed;
	top: 69px;
	right: 0;
	width: 79px;
	height: 79px;
	z-index: 3;
	background: #4A66A9;
	border: none;
	appearance: none;
	cursor: pointer;
  }
  .toggle p {
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	transition-delay: 1s;
}
.toggle.active .menu{
	display: none;	
}
.toggle .close {
	display: none;	
}
.toggle.active .close{
	display: block;	
	color: #fff;
}
.toggle:focus:not(:focus-visible) {
	outline: none;
}
.toggle::before, .toggle::after {
	content: '';
}
.toggle::before, .toggle::after, .toggle span {
	position: absolute;
	width: 27px;
	height: 2px;
	background: #fff;
	transition: .2s;
}
.toggle::before {
	top: 16px;
	left: 30px;
	transform-origin: 0 0;
	transform: rotate(45deg) scaleX(0);
	transition-delay: 0s;
}
.toggle::after {
	top: 16px;
	right: 30px;
	transform-origin: 100% 0;
	transform: rotate(-45deg) scaleX(0);
	transition-delay: .2s;
}
.toggle span:nth-of-type(-n+3) {
	left: 26px;
	transform-origin: 100% 0;
	transition-delay: .5s;
}
.toggle span:nth-of-type(1) {
	top: 20px;

}
.toggle span:nth-of-type(2) {
	top: 28px;

}
.toggle span:nth-of-type(3) {
	top: 36px;
}
.toggle.active::before {
	transform: rotate(45deg) scaleX(1);
	transition-delay: .6s;
}
.toggle.active::after {
	transform: rotate(-45deg) scaleX(1);
	transition-delay: .8s;
}
.toggle.active span:nth-of-type(-n+3) {
	transform: scaleX(0);
}
.toggle.active span:nth-of-type(1) {
	transition-delay: .1s;
}
.toggle.active span:nth-of-type(2) {
	transition-delay: .25s;
}
.toggle.active span:nth-of-type(3) {
	transition-delay: .4s;
}
.toggle-menu {
	display: none;
	position: relative;
}
.toggle-menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	transition: all .5s;
	width: 100%;
	height: 100vh;
	transform: translateX(100%);
	background: #4a66a9;
	z-index: 2;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.toggle-menu.active {
	transform: translateX(0%);
}
.sitemap-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 79px;
	transition: all .2s;
}
.sitemap-header nav ul li.sub a {
	color: #fff;
}
.sitemap-header nav ul li.access a::after {
	background-image: url(../img/icon-access-white.svg);
}
.sitemap-header nav ul li.lang a::after {
	background-image: url(../img/icon-lang-white.svg);
}
.sitemap-body {
	padding: 200px 5vw 5vw 5vw;
}
.sitemap-col {
	width: 25%;
	padding-right: 48px;
}
.sitemap-section {
	margin-top: 3vw;
	padding-top: 2vw;
	border-top: 1px solid #6e85ba;
}
.sitemap-section a {
	color: #fff;
}
.sitemap-section:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}
.sitemap-heading {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.2;
}
.heading-sub {
	font-size: 0.6rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
}
.sitemap-list {
}
.sitemap-item {
	position: relative;
	margin: 1vw 0 0.5vw 0;
	font-size: 0.8rem;
	font-weight: 600;
}
.sitemap-item a {
	padding-left: 1.5vw;
}
.sitemap-item a.list {
	position: relative;
	display: inline-block;
	margin-left: 1.5vw;
}
.sitemap-item a.list::before {
	content: "";
	display: block;
	position: absolute;
	top: 0.7em;
	left: 0;
	width: 0.5vw;
	height: 1px;
	background: #fff;
}
.-top a {
	position: relative;
	margin: 1vw 0 0 0;
	padding-left: 1.6vw;
	font-size: 0.9rem;
	font-weight: 600;
}
.-top a::after{
	content: '';
	display: block;
	position: absolute;
	width: 14px;
	height: 8px;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	background-image: url(../img/arrow-white.svg);
}
.-sub {
	margin-top: 1vw;
	font-size: 0.9rem;
	font-weight: 600;
}
.sitemap_sublist {
	margin: 0.5vw 0 1.5vw 0;
	padding-left: 1.5vw;
}
.sitemap_subitem {
	padding: 0.3vw 0;
	font-size: 0.75rem;
	font-weight: 400;
}
.sitemap_subitem a {
	color: #dce1ec;
}
.sitemap-footer {
	padding: 5vw;
}
.sitemap-footer ul {
	justify-content: center;
}
.sitemap-footer ul li {
	position: relative;
}
.sitemap-footer ul li a {
	display: inline-block;
	margin: 0 2vw;
	font-size: 0.8rem;
	color: #fff;
}
.sitemap-footer ul li:nth-child(n + 2)::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 1px;
	height: 0.7vw;
	background: #6e85ba;
	line-height: 0;
}
@media screen and (max-width: 1280px) {
	.alert_wrap {
		height: 55px;
	}
	.p-alert_header p {
		font-size: 12px;
	}
	.p-alert_header p::after{
		width: 14px;
		height: 14px;
		top: 3px;
		left: 0px;
		background-size: cover;
	}
	.p-alert_body p {
		left: 32px;
		font-size: 10px;
	}
	.top-header {
		height: 63px;
	}
	.head-logo {
		width: 172px;
		top: 50%;
		left: 30px;
	}
	nav ul li {
		padding: 0 10px;
	}
	nav ul li a {
		font-size: 11px;
		padding: 24px 0;
	}
	nav ul li.sub a {
		padding: 24px 0 0 24px;
	}
	.toggle {
		top: 55px;
		width: 63px;
		height: 63px;
	  }
	.toggle p {
		font-size: 10px;
		bottom: 10px;
	}
	.toggle::before, .toggle::after, .toggle span {
		width: 22px;
		height: 2px;
		background: #fff;
		transition: .2s;
	}




	.toggle::before {

		transform-origin: 0 0;
		transform: rotate(45deg) scaleX(0);
		transition-delay: 0s;
	}
	.toggle::after {
		top: 16px;
		right: 30px;
		transform-origin: 100% 0;
		transform: rotate(-45deg) scaleX(0);
		transition-delay: .2s;
	}
	.toggle span:nth-of-type(-n+3) {
		left: 21px;
		
		transform-origin: 100% 0;
		transition-delay: .5s;
	}
	.toggle span:nth-of-type(1) {
		top: 20px;
	
	}
	.toggle span:nth-of-type(2) {
		top: 28px;
	
	}
	.toggle span:nth-of-type(3) {
		top: 36px;
	}
	.toggle.active::before {
		transform: rotate(45deg) scaleX(1);
		transition-delay: .6s;
	}
	.toggle.active::after {
		transform: rotate(-45deg) scaleX(1);
		transition-delay: .8s;
	}
	.toggle.active span:nth-of-type(-n+3) {
		transform: scaleX(0);
	}
	.toggle.active span:nth-of-type(1) {
		transition-delay: .1s;
	}
	.toggle.active span:nth-of-type(2) {
		transition-delay: .25s;
	}
	.toggle.active span:nth-of-type(3) {
		transition-delay: .4s;
	}
}






























@media screen and (max-width: 600px) {	
	.in {
		padding: 0 28px;
	}
	.head-logo {
		top: 40px;
	}
	.toggle {
		position: fixed;
		top: 42px;
		right: 28px;
	}
}
/** main **/
main {
	width: 100%;
	background: hsl(214, 97%, 23%, 0.5);
}
.sitetop-hero {
	width: 100%;
	height: 60vw;
	padding: 174px 0 0 0;
	background: hsl(214, 97%, 23%, 0.1);
}
.sitetop-news {
	width: 100%;
	height: 190vw;
	background: hsl(214, 97%, 23%, 0.2);
}
.sitetop-aboutus {
	width: 100%;
	height: 50vw;
	background: hsl(214, 97%, 23%, 0.3);
}
.sitetop-careers {
	width: 100%;
	height: 50vw;
	background: hsl(214, 97%, 23%, 0.4);
}
.siteinfo {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.5);
}


/** footer **/
footer {
	width: 100%;
	height: 80vw;
	background: #037F8C;
}














	
	
	
	
	
	
	






