/** base **/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #fff;
	font-family: 'Montserrat', "Segoe UI", "Helvetica Neue", HelveticaNeue, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Verdana, Meiryo, sans-serif;
    font-feature-settings: "palt";
	letter-spacing: .8px;
	font-size: 16px;
	font-weight: 300;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
p {
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #1a1a1a;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1440px;
	width: 85vw;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/** header **/
.head-wrap {
	position: fixed;
	width: 100%;
}
.alert_wrap {
	width: 100%;
	height: 55px;
}
.p-alert_header {
	position: relative;
	width: 20%;
	background: #6D6D6D;
}
.p-alert_header p {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	font-size: 14px;
	padding-left: 25px;
}
.p-alert_header p::after{
	content: '';
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	top: 3px;
	left: 0px;
	background-image: url(../img/icon-alert.svg);
}
.p-alert_body {
	width: 80%;
	background: #F4F6F9;
}
.p-alert_body p {
	position: relative;
	top: 50%;
	left: 40px;
	transform: translate(0, -50%);
	font-size: 12px;
	display: inline-block;
	padding-left: 15px;
	color: #1B1919;
}
.p-alert_body p::after{
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 7px;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	background-image: url(../img/alert-arrow.svg);
}
.top-header {
	width: 100%;
	height: 79px;
	background: #131313;
	transition: all .2s;
}
.in {
	width: 100%;
	height: 100%;
	padding: 0 0 0 36px;
	position: relative;
}
.head-logo {
	position: absolute;
	width: 216px;
	top: 50%;
	left: 36px;
	transform: translate(0, -50%);
	transition: all .2s;
}
.head-logo img {
	width: 100%;
}
nav {
	height: 100%;
	transition: all .5s;
	background: #232323;
	padding-right: 95px;
}
nav ul {
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
nav ul li {
	height: 100%;
	padding: 0 12px;
	background: #333;
}
nav ul li a {
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	padding: 52px 0 0 0;
	height: 100%;
	color: #fff;
	transition: all .5s;
}
.toggle {
	position: fixed;
	top: 55px;
	right: 0;
	width: 79px;
	height: 79px;
	z-index: 3;
	background: #4A66A9;
	border: none;
	appearance: none;
	cursor: pointer;
}










.sns ul li img {
	width: 100%;
}







.toggle p {
	color: #000;
	font-size: 13px;
	font-weight: 500;
	position: absolute;
	top: -6px;
	right: 20px;
	transition-delay: 1s;
}
.sns.active p span {
	display: none;
}
.toggle.active .menu{
	display: none;	
}
.toggle .close {
	display: none;	
}
.toggle.active .close{
	display: block;	
	color: #fff;
}
.toggle p::before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 11px;
	top: 6px;
	right: 64px;
	background-color: #000;
	transition-delay: .2s;
}
.toggle.active p::before{
	background-color: #fff;
}
.toggle:focus:not(:focus-visible) {
	outline: none;
}
.toggle::before, .toggle::after {
  content: '';
}
.toggle::before, .toggle::after, .toggle span {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  transition: .2s;
}
.toggle::before {
	top: 1px;
	left: 2px;
	transform-origin: 0 0;
	transform: rotate(45deg) scaleX(0);
	transition-delay: 0s;
}
.toggle::after {
	top: 1px;
	right: 2px;
	transform-origin: 100% 0;
	transform: rotate(-45deg) scaleX(0);
	transition-delay: .2s;
}
.toggle span:nth-of-type(1) {
	top: 0;
	left: 0;
	transform-origin: 0 0;
	transition-delay: .5s;
}
.toggle span:nth-of-type(2) {
	top: 5px;
	left: 0;
	transform-origin: 50% 50%;
	transition-delay: .5s;
}
.toggle span:nth-of-type(3) {
	right: 0;
	bottom: 0;
	transform-origin: 100% 0;
	transition-delay: .5s;
}
.toggle.active::before {
	transform: rotate(45deg) scaleX(1);
	transition-delay: .3s;
	background: #fff;
}
.toggle.active::after {
	transform: rotate(-45deg) scaleX(1);
	transition-delay: .5s;
	background: #fff;
}
.toggle.active span:nth-of-type(-n+3) {
	transform: scaleX(0);
	transition-delay: 0s;
}
.toggle-menu {
	display: none;
	position: relative;
}
.toggle-menu nav {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}
.toggle-menu nav ul {
	height: auto;
	margin: 0 auto;
}
.toggle-menu nav ul li {
	flex-direction: column;
	width: 100%;
}
.toggle-menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	transition: all .5s;
	width: 33.33%;
	height: 100vh;
	transform: translateX(100%);
	background: #000;
	z-index: 2;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.toggle-menu.active {
	transform: translateX(0%);
}
.toggle-menu nav ul li {
	margin: 0;
}
.toggle-menu nav ul li a  {
	color: #fff;
	text-align: right;
	padding: 16px 50px 16px 16px;
	display: inline-block;
	width: 100%;
	font-size: 16px;
}
@media screen and (max-width: 800px) {
	.sns {
		display: none;
	}
	.toggle p::before {
		display: none;
	}
	.toggle-menu {
		width: 100%;
	}
	.toggle-menu nav {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.toggle-menu nav ul li a  {
		text-align: center;
		padding: 16px;
	}
}
@media screen and (max-width: 600px) {	
	.in {
		padding: 0 28px;
	}
	.head-logo {
		top: 40px;
	}
	.toggle {
		position: fixed;
		top: 42px;
		right: 28px;
	}
}
/** main **/
main {
	width: 100%;
	background: hsl(214, 97%, 23%, 0.5);
}
.sitetop-hero {
	width: 100%;
	height: 60vw;
	padding: 120px 0 0 0;
	background: hsl(214, 97%, 23%, 0.1);
}
.sitetop-news {
	width: 100%;
	height: 190vw;
	background: hsl(214, 97%, 23%, 0.2);
}
.sitetop-aboutus {
	width: 100%;
	height: 50vw;
	background: hsl(214, 97%, 23%, 0.3);
}
.sitetop-careers {
	width: 100%;
	height: 50vw;
	background: hsl(214, 97%, 23%, 0.4);
}
.siteinfo {
	width: 100%;
	height: 30vw;
	background: hsl(214, 97%, 23%, 0.5);
}


/** footer **/
footer {
	width: 100%;
	height: 80vw;
	background: #037F8C;
}














	
	
	
	
	
	
	






